.shared {
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border-bottom: var(--border1);
    padding: 1.25rem;
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareProfileImg {
    width: 4rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .shareInput {
    border: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 4rem;
    background-color: var(--clr-grey-5);
  }

  .shareInput::placeholder {
    color: var(--clr-grey-3);
    letter-spacing: var(--spacing1);
    font-size: 0.9rem;
  }
  
  .shareInput:focus {
    outline: none;
  }

  .shareBottom {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 0.7rem;
  }
  
  .shareIcon{
      background-color: var(--clr-primary-dark);
      border-radius: 50%;
      padding: 0.3rem;
      padding-bottom: 0.08rem;
      margin-right: 0.6rem;
      cursor: pointer;
  }
  
  .shareButton{
      border: none;
      font-weight: 500;
      cursor: pointer;
      color: white;
      font-weight: 600;
      letter-spacing: var(--spacing1);
      font-size: 1rem;
      background-color: var(--clr-primary-dark);
      padding: 0.4rem 2rem;
      border-radius: var(--radius1);
  }