.job-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 1rem 0;
    font-family: var(--ff-primary);
    transition: all 0.15s linear;
}

.job-container:hover {
    background-color: var(--clr-grey-4);
}

.job-img {
    width: 4.4rem;
    height: 4.4rem;
    object-fit: cover;
    border-radius: 50%;
}

.job-title {
    font-weight: 600;
}

.job-comp {
    font-size: 0.9rem;
}

.job-keyword {
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--clr-grey-1);
    padding: 0.4rem 0.5rem;
    margin: 0.3rem;
    border-radius: 4rem
}

.job-city {
    font-weight: 600;
}

.job-country {
    font-size: 0.9rem;
}

.job-apply {
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--clr-primary-dark);
    font-weight: bold;
    color:white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.job-apply:hover {
    box-shadow: 0 0 2rem #a2f5e1;
    /* outline: 0.3rem solid #b5f1e3; */
}