
.search-result-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(239,239,239);
    border-radius: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.search-result-img {
    width: 4.4rem;
    height: 4.4rem;
    object-fit: cover;
    border-radius: 50%;
}

.search-result-info {
    flex: 2;
    justify-self: start;
    padding-left: 1rem;
}

.search-result-add {
    cursor: pointer;
}

.search-result-friend {
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: var(--clr-primary);
}

.search-result-not-friend {
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: var(--clr-grey-2);
}

.search-result-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.search-result-grey {
    color: var(--clr-grey-3);
    font-size: 0.9rem;
}

.italicize {
    font-style: italic;
}

.search-result-respond, .search-result-pending {
    padding: 0.5rem;
    color: white;
    background-color: var(--clr-grey-2);
    border-radius: 0.5rem;
    font-weight: 600;
}