.email-inp1 {
    margin-top: 1rem;
    border: 0.15rem solid #E3E3E3;
    margin-bottom: 1.3rem;
    padding: 1rem;
    border-radius: 10rem;
}

.email-inp1:hover, .email-inp1:focus, .email-inp1:active {
    border: 0.15rem solid var(--clr-primary);
    outline:none;
}

.btn-div {
    width: 100%;
    display: flex;
    align-items: center;
}

.next-btn {
    cursor: pointer;
    border: none;
    background-color: var(--clr-primary);
    color: white;
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 1.3rem;
    width: 60%;
    padding: 0.5rem 0.6rem 0.5rem 1.4rem;
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: var(--spacing1);
    transition: all 0.3s linear;
    margin-top: 2rem;
}

.gt {
    border-radius: 50rem;
    background-color: var(--clr-primary-dark);
    padding: 0.5rem 0.8rem;
    transition: all 0.3s linear;
}

.next-btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
}

.next-btn:hover .gt{
    /* box-shadow: 0 0 2rem rgba(255, 255, 255, 0.404); */
}

.form p {
    margin: 1rem 0;
}

.error-msg {
    color:red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}