@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --spacing1: 0.03rem;
    --clr-primary: #84E7CA;
    --clr-primary-light: #6CDDC2;
    --clr-primary-lighter: #7fd8bd48;
    --clr-primary-dark: #7FD8BE;
    --clr-secondary: #5299EC;
    --clr-grey-1: #D9D9D9;
    --clr-grey-2: #bbbbbb;
    --clr-grey-3: #717171;
    --clr-grey-4: #F1F1F1;
    --clr-grey-5: #F3F3F3;
    --clr-grey-6: #E8E8E8;
    --radius1: 0.5rem;
    --border1: 0.1rem #D9D9D9 solid;
    --border2: 0.1rem solid var(--clr-primary);
}
