.post {
    border-bottom: var(--border1);
  }
  
  .postWrapper {
    padding: 2rem 4rem;
  }
  
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  
  .postProfileImg {
    border-radius: 50%;
    object-fit: cover;
  }

  .post-top-info {
    display: flex;
    flex-direction: column
  }
  
  .postUsername {
    font-size: 1rem;
    font-weight: 500;
    /* margin: 0 0.8rem; */
  }
  
  .postDate{
      font-size: 0.8rem;
      color: var(--clr-grey-3);
  }
  
  .postCenter{
      margin-bottom: 0.8rem;
  }
  
  .postImg{
      /* margin-top: 20px; */
      max-width: 100%;
      /* max-height: 500px; */
      object-fit: contain;
  }
  
  .postBottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
  }
  
  .postBottomLeft{
      display: flex;
      align-items:center;
  }
  
  .likeIcon{
      /* width: 24px; */
      /* height: 24px; */
      /* margin-right: 5px; */
      display: flex;
      align-items:center;
      cursor: pointer;
      margin-right: 1rem;
  }
  
  .postLikeCounter{
      font-size: 0.9rem;
      margin-left: 0.1rem;
      color: grey;
  }

  .post-profile-pic {
    margin-right: 1rem;
  }

  .post-profile-img {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    /* margin-left: 1rem; */
}

.postText {
  margin-bottom: 0.5rem;
}

.postImgDiv {
  display: flex;
  justify-content: center;
}