.posts-by-you-cont {
    flex: 6;
    width: 100%;
    height: 100%;
}

.jobs-fab{
    position: fixed;
    bottom: 1rem;
    right: 19rem;
    border-radius: 50%;
    padding: 0.5rem 1.15rem 0.8rem 1.15rem;
    font-size: 2rem;
    border: none;
    background-color: var(--clr-primary-dark);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.136);
}

.post-job-form {

}

.post-job-form-row {
    display: flex;
    
}

.gap {
    width: 2rem;
}